body {
    background: #141414;
    color: #ffff;
}

.horizontal-list {
    overflow-x: auto;
}

.image-container {
    position: relative;
    transition: transform 0.2s;
}

.image-container:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.image-container:hover .overlay{
    opacity: 1;
}

.overlay {
    position: absolute;
    background: rgb(0, 0, 0, 0.8);
    bottom: 0;
    opacity: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #7775;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #777;
}



